@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&;display=swap');

body {
  margin: 0;
  padding: 0;
  color: rgb(58, 65, 111);
  background-image: linear-gradient(to right, rgba(238, 240, 248, 0.5), rgb(238, 240, 248), rgba(238, 240, 248, 0.5));
  font-family: Poppins !important;
  font-size: 14px;
  font-weight: 300;
}


html body a {
  color: rgb(0, 115, 152);
  cursor: pointer;
  transition: all 0.2s linear 0s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}


/*  LOGIN CONTAINER  */

.blur-background {
  background-color: rgba(242, 246, 248, 0.3);
  /*filter: blur(0.8rem);*/
  position: absolute;
  z-index: 100;
  width: 100%;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  padding: 3% 5%;;
  width: 40%;
  background: #fff;
  border-radius: 0.357rem;
  -webkit-box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%);
  box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%);
  filter: blur(0);
}

.register-link {
  margin: 1%;
  /*color: #3b7ead;*/
}

.register-link:hover {
  color: #6a6a99;
}

/*  MESSENGER PAGE */
.container {
  overflow: hidden;
}